<?xml version="1.0"?>
<config version="1.0" serial="52" timestamp="1332622737.12">
  <Lib>
    <Account>
      <IdleTimeForAway>300</IdleTimeForAway>
      <IdleTimeForNA>1800</IdleTimeForNA>
      <LastUsed>1332620403</LastUsed>
      <LocalData>42B09F9C0617C6</LocalData>
      <Migration>63</Migration>
      <OMigration>1</OMigration>
    </Account>
    <Call>
      <DPC>41020501410203026563686F31323300000384CEB8FB040501410203027274616C6C616D72616A75000003FDD4B8FB04</DPC>
      <VideoEndPoints>DC268AD8</VideoEndPoints>
    </Call>
    <CentralStorage>
      <LastBackoff>0</LastBackoff>
      <LastFailure>0</LastFailure>
      <LastSync>1332620591</LastSync>
      <NeedSync>0</NeedSync>
      <SyncSet>
        <g>
          <_23DBA916>ddeebbd0:2</_23DBA916>
        </g>
        <p>
          <avatar>65be6ef:2</avatar>
          <email>5e65a21f:2</email>
          <mood>9056a442:2</mood>
          <profile>c0e1773b:2</profile>
        </p>
        <u>
          <_.2B14403642781>7963f56a:2</_.2B14403642781>
          <_.2B14408044901>c512e685:2</_.2B14408044901>
          <alingrad>2a4a1aef:2</alingrad>
          <attilichandrika>357aa3b8:2</attilichandrika>
          <cybernytrix>3ab98f8c:2</cybernytrix>
          <dzhaig93>5fb8b11c:2</dzhaig93>
          <echo123>7767a7a3:2</echo123>
          <jigajigajoo>a1a5f9d1:2</jigajigajoo>
          <jollyoldeb>8e73001c:2</jollyoldeb>
          <lak00shka>3598f8b5:2</lak00shka>
          <manoramasree.2Esurampudi>952d8a05:2</manoramasree.2Esurampudi>
          <n.2Esubram>a3b20d60:2</n.2Esubram>
          <naasik90>1e70d2d4:2</naasik90>
          <podurideepti>3c396851:2</podurideepti>
          <ptallamraju>61cd93a2:2</ptallamraju>
          <rajiv.2Echamraj>5d98eb5c:2</rajiv.2Echamraj>
          <ramaseshu.2Esurampudi>12df7b5c:2</ramaseshu.2Esurampudi>
          <rsamvit>7ea3079b:2</rsamvit>
          <rtallamraju>eec6155f:2</rtallamraju>
          <shreyast>f8aeed69:2</shreyast>
          <vamsi.2Etallamraju>f8d64d39:2</vamsi.2Etallamraju>
          <vishvakatberkeley>c41e5e90:2</vishvakatberkeley>
          <yoo9189>12d57e5d:2</yoo9189>
        </u>
      </SyncSet>
    </CentralStorage>
    <Contacts>
      <Migration>2</Migration>
    </Contacts>
    <DynContent>
      <S>
        <LastTime>1332618999</LastTime>
      </S>
      <UILang>en</UILang>
    </DynContent>
    <Notification>
      <LastID>1000000171</LastID>
      <LastPoll>1332620592</LastPoll>
      <LastSearch>1332621683</LastSearch>
    </Notification>
    <PM>
      <pslut>1332619001</pslut>
    </PM>
    <ProfilePopulated>1</ProfilePopulated>
    <PropsManager>
      <PermaProps>410E0087200000AE200000AB200000FC0104008B20F8CDB8FB04008920FFCDB8FB040093200300F5010A00832087E3B8FB0400842089E3B8FB0400F801FC08007C0100A9010100FA018908</PermaProps>
    </PropsManager>
    <Sms>
      <CliOptions>4102002314032D434C49204E4F5420464F554E4400</CliOptions>
      <CliOptionsFetchedOK>0</CliOptionsFetchedOK>
      <CliOptionsVersion>2</CliOptionsVersion>
    </Sms>
    <StatsSender>
      <CollectorLastSent>1332618999</CollectorLastSent>
      <CollectorSeq>2</CollectorSeq>
      <Saved>41030001F7CDB8FB040502410A00F8010000FA010000FC010400AC020000AD020000AE020000FD010000FE010000FF010000800200000300</Saved>
      <SubmitID>9</SubmitID>
      <Type2SubmitID>
        <_1>6</_1>
        <_2>3</_2>
      </Type2SubmitID>
    </StatsSender>
    <table_insert_history>
      <_06e6d7e9a605cea81d802173735de0b4ff7ad8f2867088a388b93c964d14477a>1332708083 39121:21600:1332621683 58899:5400:1332621683 52254:21600:1332621683</_06e6d7e9a605cea81d802173735de0b4ff7ad8f2867088a388b93c964d14477a>
    </table_insert_history>
  </Lib>
</config>
