
[Desktop Entry]
Name=Hardware Sensors Indicator
Name[es]=Indicador de sensores de hardware
Name[ru]=Индикатор аппаратных датчиков
GenericName=Hardware Sensors Indicator
GenericName[es]=Indicador de sensores de hardware
GenericName[ru]=Индикатор аппаратных датчиков
Comment=An indicator for Unity which displays hardware sensor readings
Comment[es]=Un indicador para Unity que muestra las lecturas de los sensores de hardware
Comment[ru]=Индикатор для Unity показаний аппаратных датчиков
Exec=indicator-sensors
Icon=indicator-sensors
StartupNotify=true
Terminal=false
Type=Application
Categories=System;
X-GNOME-Autostart-enabled=true
